@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*body,*::before,*::after{
    margin: 0px;
    padding: 0px;
}

.space{
    width: 100vw;
    height: 10vh;
}

header{
    font-family: Montserrat, sans-serif;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border-bottom: 1px solid black; */
    align-items: center;
    box-shadow: -1px -6px 32px -11px rgba(0,0,0,0.80);
    background-color: #1B1B1E;
    color: white;
    margin-bottom: 100px;
}
h3{
    margin-left: 20px;
    font-size: 36px;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    color: inherit;
    
}

li.nav-button{
    list-style: none;
    color: white;
}

li.nav-button>button{
    border: none;
    background-color: inherit;
    list-style: none;
    font-size: 16px;
    margin: 30px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    font-family: inherit;
    outline: none;
    color: inherit;
    cursor: pointer;
}

li.nav-button>button:hover{
    background-color: darkgray;
    color: black;

}
li.nav-button>button:active{
    background-color: white;
    color: black;
}
li.nav-button:last-child{
    margin-right: 40px;
}