*{
  /* overflow: hidden; */
}
.container-full{
  width: 100vw;
  height: 100vh;
  background-color: #1B1B1E ;
  /* overflow: hidden; */
}

.modal-view{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  filter: brightness(80%);
  filter: blur(1px);
}

.cards{
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}